BasedOnStyle: LLVM
ColumnLimit: 140
IndentWidth: 4
TabWidth: 4
UseTab: AlignWithSpaces
SpacesInParentheses: false
SpacesInAngles: Never
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortNamespacesOnASingleLine: true
ShortNamespaceLines: 20
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
BreakTemplateDeclarations: No
ReflowComments: false
FixNamespaceComments: false
BreakBeforeBraces: Attach
AccessModifierOffset: -4
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: false
AlignOperands: true
PointerAlignment: Left
SortIncludes: false
